<h1 id="tableLabel">Cart</h1>

<p *ngIf="!this.anyItemInTheCart()"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="this.anyItemInTheCart()">
  <thead>
    <tr>
      <th>Product</th>
      <th>Original Price</th>
      <th>Amount</th>
      <th>Final Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartService.cart.items">
      <td>{{ item.productName }}</td>
      <td>{{ item.originalPrice }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ item.finalPrice }}</td>
      <td><button type="button" class="btn btn-success" (click)="this.increaseAmount(item.productId)">+</button></td>
      <td><button type="button" class="btn btn-danger" (click)="this.reduceItemAmount(item.productId)">-</button></td>
      <td *ngIf="item.isPromotion"><button type="button" class="btn btn-info">Promotion applied!</button></td>
      <td *ngIf="!item.isPromotion"><button type="button" class="btn btn-secondary">No promotion!</button></td>
    </tr>

    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td>{{ getTotalPrice() }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>    
  </tbody>
</table>