<h1>Klir.io Cart App</h1>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="this.products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Buy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.products">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td><button type="button" class="btn btn-success" (click)="this.addItemToCart($event, item)">Buy</button></td>
    </tr>
  </tbody>
</table>